<form class="" action="/skills" method="post">
  <h1>Enter Skill</h1>
  <input type="text" name="skill[name]"/><br>
  <textarea name="skill[status]" rows="8" cols="4"/></textarea>
  <input type="submit" value="Submit"/>
</form>
